<span>
  <label for="owner">Owner</label>
  <Input @id="owner" @value={{this.owner}} @key-up={{action this.updateOwner}}/>
</span>
<span>
  <label for="repo">Repo</label>
  <Input @id="repo" @value={{this.repo}} @key-up={{action this.updateRepo}}/>
</span>

{{#if this.fetchEvents.isRunning}}
  <span>retrieving...</span>
{{else}}
  <button {{on "click" this.retrieveEvents}}>Retrieve Events</button>
{{/if}}

{{#if this.eventTypes.length}}
  <hr/>
  <div>
    Filter by event type:
    <span>All</span>

    {{#each this.eventTypes as |eventType|}}
      <span>{{eventType}}</span>
    {{/each}}
  </div>
{{/if}}
