<span>
  <label for="owner">Owner</label>
  <Input @id="owner" @value={{this.owner}} @key-up={{action this.updateOwner}}/>
</span>
<span>
    <label for="repo">Repo</label>
    <Input @id="repo" @value={{this.repo}} @key-up={{action this.updateRepo}}/>
</span>
<span>
    <label for="events">Events</label>
    <Input @id="eventType" @key-up={{action this.updateEventType}}/>
</span>
{{#if this.fetchEvents.isRunning}}
    <span>retrieving...</span>
{{else}}
    <button {{on "click" this.retrieveEvents}}>Retrieve Events</button>
{{/if}}